* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  max-width: 1440px;
  margin: 0 auto;
}



/* Header */
.main-header {
  display: flex;
  background-color: grey;
  width: 100%;
}

/* Container */

.container-fluid {
  background-color: grey;
}

/* Nav */
.container{
  display: flex;
  justify-content: space-between;
  background-color: grey;
}

.nav-logo p{
background-color: lightblue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 40px;
}



ul{
  display: flex;
  list-style-type: none;
  
}

ul li a{
  color: lightskyblue;
  text-decoration: underline;
  margin-right: 30px;

}


/* Image Banner */
.image-banner img {
  width: 100%;
  height: 150px;
}

.image-banner {
  position: relative;
}


.first-h2 {
  position: absolute;
    right: 50px;
    bottom: 30px;
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* Project + About me Section */
.about-me {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.about-me-plus-work h2{

}

.about-me-plus-work pre{
padding-left: 150px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
}

.work {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding-top: 100px;
  
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 5px;
  padding-left: 150px;
  
}

/* Project Images */

.project1{
  background-image: url(../images/nike.jpg);
  width: 20px;

}

.project2{
  background-image: url(../images/addy.jpg);
  width: 20px;

}

.project3{
  background-image: url(../images/reebok.jpg);
  width: 20px;

}

.project4{

  background-image: url(../images/uaa.jpg);
  width: 20px;

}



/* Footer Section */


.footer-container{
  padding-top: 100px;
}

.social-icons{
  display: flex;
  justify-content: space-evenly
}

.footernav ul{
  display: flex;
  justify-content:space-evenly;
  padding-top: 20px;
  text-decoration: underline;
}

.footerBottom p{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
